html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
}

img {
  border: solid 1px black;
  border-radius: 5%;
  height: 200px;
  font-weight: 200px;
}

.country-container {
  display: flex;
  justify-content: center;
}

.country-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  display: block;
  justify-content: center;
}
