html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
}

img {
  border: solid 1px black;
  border-radius: 5%;
  height: 200px;
  font-weight: 200px;
}

.country-container {
  display: block;
  justify-content: start;
}
